extends ./layout

block content
    .wrap
        .block
            .title.title1
                span 大赛介绍
                a(href="/more") more
            .content
                p 微软与触控科技联手开展以“玩转Cocos乐享Windows”为主题的开发者Windows游戏大赛。
                p 本次大赛面向全球开发者征集优秀游戏作品,崇尚创新理念、杜绝千篇一律推动游戏产业持续健康发展。
                p 无论你是初出茅庐的小将。还是久经沙场的老手。只要你对游戏抱着无人能及的执着和热情。渴望用自己的创意让无数玩家眼前一亮,那就赶快来参与到Windows游戏大赛里吧！
                p 在这里，你将与来自全球的优秀开发者同台竞技．用创意一决雌雄。赢得重磅豪礼！
        .block
            .title.title1 
                span 奖项设置
                a(href="/more") more
            .content.a
                img.award(src="assets/san_03.png")
                img.award(src="assets/san_05.png")
                img.award(src="assets/san_07.png")
        .block
            .title
                span 主办方介绍
            .content(style="height:160px;")
                .divwrap
                    .chukong
                    .windowsx
                    .windows
                    .cocos
        .block
            .title 
                span 评审团介绍
            .content(style="height:250px;")
                .chukongmaster
                .windowsmaster
        .block.steps
            .title 
                span 参赛流程
            .content

        .block
            .title 
                span 合作媒体
            .content(style="height:233px")
                .box.tx
                .box.bd
                .box.sina
                .box.x163
                .box.sohu
    script(src="/js/jq.js")
    script(src="/js/common.js")
        

                        
