extends ./layouten

block content
    .wrap.en
        h3  Calling all Game Developers
        div.content
            | Microsoft and Chukong Technology invite developers around the world to enter their "Unleash the Power of Cocos and Windows" contest. Developers — novice or pro — are encouraged to submit innovative mobile games built for Windows using the opensource Cocos engine. Games will be judged on originality, innovation, and pushing the boundaries of creativity using the Cocos engine and Windows technology. Think big, win big!
        h3 Prizes*
        div.content.pcontent
          div.prize  
            img(src="assets/zzzzz_03.png")
            div First Prize (1)
          div.prize  
            img(src="assets/zzzzz_05.png")
            div Second Prize (1)
          div.prize  
            img(src="assets/zzzzz_07.png")
            div Third Prize (3)
        h3 The Winners
        div.content
            | Contest winners will be announced on or before June 23, 2015. Winners will be contacted directly with details on how to collect their prizes.
        h3 Entry period
        div.content
            | Entries can be submitted between 12:01 (Beijing time) on March 31, 2015 to 11:59 (Beijing time) onMay 31, 2015.
        h3 What will your game be judged on?
          .shadow
        div.content
            img(src="/assets/wwwwwwww_03.png")
            p Submissions will be judged by a panel of Chukong and Microsoft representatives on the following:
            p Quality of Submission (25%): How visually appealing is your App? How well do you use special effects to develop 
            p immersive gameplay? How intuitive is your user experience? 
            p Performance (25%):  How well does your App perform on applicable end user devices?  Does it run smoothly? 
            p Does it work from beginning to end?
            p Creativity (25%): How creative is your use of the development tools and assets in your App?
            p Originality (25%): How original is your App?
        h3 How to enter
          .shadow
        div.content
            pre
               | <strong>Step 1 </strong>
               | Create or port your App for  <a target="_blank" class="none" href="https://msdn.microsoft.com/library/windows/apps/dn745656.aspx">Windows Store</a> or <a target="_blank" class="none" href="https://msdn.microsoft.com/library/windows/apps/jj206736.aspx">Windows Phone Store</a> or both.
               | 
               | <strong>Step 2</strong>
               | Send an email to <a target="_blank" href="mailto:windows@cocos.com">windows@cocos.com</a> to receive your free Windows Developer account token that you will need 
               | in order to publish apps to the <a target="_blank" class="none" href="https://msdn.microsoft.com/library/windows/apps/dn745656.aspx">Windows Store</a> and <a target="_blank" class="none" href="https://msdn.microsoft.com/library/windows/apps/jj206736.aspx">Windows Phone Store</a>. We will respond to you within 24 hours with 
               | a unique token code that you can use to create your account.
               | 
               | <strong>Step 3</strong>
               | Register for Developer account on dev center in order to publish using your token. Instructions are here : 
               | <a target="_blank" href="http://dev.windows.com/en-us/join">http://dev.windows.com/en-us/join</a>
               | 
               | <strong>Step 4</strong>
               | Allow sufficient time for certification and to get your App published to the Store. Entrants must use Cocos 
               | technology.
               |  • Read about how to Publish to <a target="_blank" class="none" href="https://msdn.microsoft.com/library/windows/apps/jj206736.aspx">Windows Phone Store</a>.
               |  • Read about how to Publish to <a target="_blank" class="none" href="https://msdn.microsoft.com/library/windows/apps/dn745656.aspx">Windows Store</a>.
               |  • Read requirements for <a target="_blank" class="none" href="https://msdn.microsoft.com/library/windows/apps/hh184843(v=vs.105).aspx">Windows Phone Store App certification</a>.
               |  • Read requirements for <a target="_blank" class="none" href="https://msdn.microsoft.com/en-us/library/windows/apps/hh694083.aspx">Windows Store App certification</a>.
               | 
               | <strong>Step 5</strong>
               | Apply to the Contest with your published App link to windows.cocos.com during the entry period.
               | 
               | <a href="#" class="apply" style="color:#fff;display:inline-block;text-decoration:none;padding:0 20px;border: 1px solid #1b81ed;background: #1b81ed;">Click here to apply</a>
               | Please take into account the time it takes for your App to be approved and published in a Windows Store.  
               | All Apps must be first published or ported to a Windows Store during the entry period to be eligible.
               
        h3 Official contest rules
        div.content
            pre
                | 
                | For complete details, 
                a(target="_blank",href="https://goo.gl/4Ovpr4") see Official Rules
                | 
                | For questions, see Official Forum <a target="_blank" href="http://discuss.cocos2d-x.org/t/windows-game-contest/20820/134">( http://cocos2d-x.org/c/windows/ )</a>
                | 
                | 

    .mask
    .dialog
        .header
            img(src="/assets/close.png")
        div.tt
            div.t Apply to the Contest with your 
            div.t published App link
        div.ttt Profile Information
        div.title First name
        input(type="text",id="text1",placeholder="sonal")
        div.title Last name
        input(type="text",id="text2",placeholder="pardeshi")
        div.title Email Address
        input(type="text",id="text3",placeholder="")
        div.title Windows/Windows Phone store published App link
        input(type="text",id="text4",placeholder="")
        div.btns
            a.cancel(href="#") Cancel
            a.submit(href="#") Submit
    script(src="/js/jq.js")
    script(src="/js/en.js")











                        
