html
    head
        title Windows Game Cocos Developer Contest
        link(href="/css/windows.css",rel="stylesheet",type="text/css")
        link(rel="shortcut icon",href="http://cvp.cocoachina.com/assets/cocos.ico",sizes="16x16 32x32 48x48",type="image/png")
    body
        div.nav.en
            .logo
                img(src="/assets/logo.png")


        block content
        include ./templates/footer