html
    head
        title 微软开发大赛
        link(href="/css/windows.css",rel="stylesheet",type="text/css")
        script(src="http://passport.cocoachina.com/sso/is_signin?client_id=19")
        link(rel="shortcut icon",href="http://cvp.cocoachina.com/assets/cocos.ico",sizes="16x16 32x32 48x48",type="image/png")
    body
        include ./templates/nav.jade
        block content
        include ./templates/footer