extends ./layout

block content
    .wrap
        .block
            .title 
                span 大赛简介
            .content
                p 微软与触控科技联手开展以“玩转Cocos乐享Windows”为主题的开发者Windows游戏大赛。
                p 本次大赛面向全球开发者征集优秀游戏作品,崇尚创新理念、杜绝千篇一律推动游戏产业持续健康发展。
                p 无论你是初出茅庐的小将。还是久经沙场的老手。只要你对游戏抱着无人能及的执着和热情。渴望用自己的创意让无数玩家眼前一亮,那就赶快来参与到Windows游戏大赛里吧！
                p 在这里，你将与来自全球的优秀开发者同台竞技．用创意一决雌雄。赢得重磅豪礼！
        .block
            .title 
                span 大赛时间表
            .content
                p 2015年3月31日  -  2015年5月31日   作品征集
                p 2015年5月31日  -  2015年6月22日   作品评选
                p 2015年7月03日  - &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;公布获奖名单
        .block
            .title 
                span 参赛指引
            .content
                pre
                    |-  提交参赛资料
                    |    · 请注册登录http://windows.cocos.com，并按照要求填写相关的参赛手游信息
                    |    · 请同时在Windows应用商店或Windows Phone应用商店提交作品
                    |-  作品提交
                    |    · 大赛评委会会根据游戏的质素\表现\创意\原创性等几个方面进行综合评价
                    |    · 开发者需要提供：
                    |        - 游戏基本资料：游戏图标、游戏介绍、游戏截图（2-5张）
                    |        - 游戏下载链接：游戏在Windows应用商店或Windows Phone应用商店提交后的下载链接
                    |    · 大赛评委会在收到游戏下载链接以及参赛资料后，进行审核和测试。请密切关注大赛评委会给您反馈的邮件及大赛官网公告。
                    |    · 请在5月31日之前提交相关材料，并严格按照参赛材料提交末班填写开发者资料和参赛资料。如对大赛规则及大赛流程有任何疑问，请发信至大赛
                    |      官方邮箱windows@cocos.com咨询；如在游戏提交Windows Store或Windows Phone Store的过程中有任何疑问，
                    |      请发信至微软官方邮箱，咨询应用提交细节：askexpert@microsoft.com
                    |-  作品评奖
                    |    · 在参赛作品征集期结束后，所有游戏将进入大赛评奖流程
                    |    · 评奖结果将以触控及微软评委会的评审结果为准，决出一等奖1名、二等奖1名、三等奖3名 
                    |-  颁奖
                    |    · 最终获奖的优秀作品将公布于大赛官网，同时为优秀开发者举行颁奖典礼
        .block
            .title 
                span 奖项设置
            .content.money
                p 一等奖 （1名）：奖金$25,000 USD
                p 二等奖 （1名）：奖金$15,000 USD
                p 一等奖 （3名）：奖金$3,000 &nbsp;&nbsp;USD
        .block
            .title 
                span 评奖规则
            .content
                pre
                    |大赛评委会会根据游戏的质素\表现\创意\原创性等几个方面进行综合评价
                    |   - 游戏质素(25%)：你的App视觉效果如何？游戏特效的应用效果如何？用户体验如何？
                    |   - 游戏表现(25%)：在终端是否运行流畅？在主流Windows Phone上的适配性如何？是否能从头至尾运行？
                    |   - 创意(25%)：你的游戏玩法是否有创新？
                    |   - 原创性(25%)：你的游戏整体原创性如何？
        .block
            .title 
                span 参赛须知
            .content
                pre
                    |关于选手
                    |    - 参赛者在提交作品时须提供真实姓名，常用电子邮箱，联系电话等资料。参赛者在比赛过程中提供的所有个人信息只用于赛事评选、颁奖，
                    |      主办方将对其中所有涉及个人隐私的内容予以保密。同时参赛者必须保证提供的信息真实、可靠
                    |    - 参赛者需要年满18周岁
                    |    - 参赛者不限学生、业余开发者、专业软件开发者或IT行业开发者
                    |    - 参赛者需要拥有一个有效的Windows Developer Center账号
                    |    - 如果没有Windows应用商店或Windows Phone应用商店账号，参赛者可以发邮件至大赛官方邮箱windows@cocos.com申请免费注册码
                    |    - 美国出口法规定，不得向古巴、伊朗、朝鲜、苏丹及叙利亚出口货品或服务，故上述国家的参赛者无法参加比赛
                    |    - 参赛者不得工作于微软公司或微软的子公司
                    |    - 参赛者不得参与此次大赛的任何管理及执行环节
                    |    - 参赛者不得为微软公司或微软子公司员工的家庭成员，包括父母、兄弟姐妹、子女、配偶。
                    |    - 违反上述规则的参赛者将被取消比赛资格
                    |关于作品
                    |    - 参赛作品主题内容必须健康、合法，没有任何不良信息以及商业宣传行为
                    |    - 参赛作品必须保证原创性，不违反任何中华人民共和国的有关法律，不会侵犯任何第三方知识产权或者其他权利；一经发现或经权利人指出，
                    |      主办方将取消其参赛资格
                    |    - 参赛者需使用cocos引擎开发游戏
                    |    - 参赛作品著作权归作者所有
                    |    - 出现以下情况将自动免除参赛者的参赛资格
                    |        · 提交的手游内容不完整，或提供任何虚假信息；
                    |        · 违背相关法律、法规；
                    |        · 涉嫌作弊行为，侵犯他人知识产权；
                    |        · 提交的手游包含不健康、淫秽、色情或诽谤任何第三方的内容；
                    |        · 提交的手游在移动平台上连续24小时之内不能正常、稳定运行；
                    |        · 提交的手游包含大赛评委会认为不适当的内容
                    |关于获奖
                    |    - 主办方将依据获奖者的注册账号信息进行联络。参赛者需在30日内对获奖通知进行回应，否则将失去获奖资格
                    |    - 非个人开发者（包括但不限于公司、事业单位、工作室、组合等形式），须确定一名代表成员接受奖励。参赛者应自行负责在其成员之间分配和
                    |      分发奖金与奖品主办方对此将不承担任何责任
                    |    - 奖金个人所得税将由获奖者承担，主办方代为缴交
                .warning
                    | 特别声明：   本次活动的最终解释权归主办方所有。本次活动因故无法进行时，主办方有权决定取消、终止、修改或暂停本次活动。请认真阅读以上条款，提交作品即表示同意并遵守以上条款。

    script(src="/js/jq.js")
    script(src="/js/common.js")




                