div.nav
    .logo
        img(src="/assets/logo.png")
    .wrap   
        a.applynow(href="/submit") 马上参赛
    .links
        a(target="_blank",href="http://www.cocoachina.com/") CocoaChina论坛
        a(target="_blank",href="http://www.cocos.com/") Cocos开发者平台
    .userstatus
        a.btn(href="http://passport.cocoachina.com/sso/signin?client_id=13&url=http://www.cocoachina.com/bbs/",target="_blank")  登录
        a.btn(href="http://passport.cocoachina.com/sso/signup?client_id=13&url=http://www.cocoachina.com/bbs/",target="_blank")  注册
.wrap
    .navbtn
        a.btn(href="/index") 首页
        a.btn(href="/more") 大赛详情
        a.btn(href="/intro") 参赛作品
        a.btn(href="http://www.cocoachina.com/a/windows/") 讨论组

